<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxuN6_9FmMULh_XkEidM3GwyqEyBCEB2o</string>
	<key>GCM_SENDER_ID</key>
	<string>515080754088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DanceBeatz</string>
	<key>PROJECT_ID</key>
	<string>dance-beatz</string>
	<key>STORAGE_BUCKET</key>
	<string>dance-beatz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515080754088:ios:0f046da823f882e1e1839d</string>
	<key>DATABASE_URL</key>
	<string>https://dance-beatz-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>